## Settings file was created by plugin DoOrDieMonsters v0.6.1
## Plugin GUID: horemvore.DoDMonsters

[Bosses]

## Enables Boss Reskins
# Setting type: Boolean
# Default value: true
Enable = true

[Buildables]

## Enables Rugs
# Setting type: Boolean
# Default value: true
Enable = true

[Monster Reskin Spawns]

## Enables spawning of the Monster Reskins
# Setting type: Boolean
# Default value: true
Enable = true

[Monster Reskins]

## Enables Monster Reskins
# Setting type: Boolean
# Default value: true
Enable = true

