## Settings file was created by plugin ReelySpecTackleLure v0.1.7
## Plugin GUID: neobotics.valheim_mod.reelyspectacklelure

[General]

## Enables the fishing skill. Set to false to allow another mod to handle fishing skill management. Other features of RSTL will still be enabled. Default=true
# Setting type: Boolean
# Default value: true
UseFishingSkill = true

## The maximum distance from the fishing float to search for fish
# Setting type: Int32
# Default value: 25
# Acceptable value range: From 10 to 50
DetectionRadius = 25

## The size of the float. Increase to make the float larger and more visible in the water. Default is 1 (the standard Valheim float size)
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 1 to 3
FloatSize = 1

## Set True to enable fish to spawn near Player base structures such as workbenches and campfires. Set False for Valheim's normal restriction.
# Setting type: Boolean
# Default value: false
NoBaseRestrictedSpawn = false

[Utility]

## Controls the level of information contained in the log
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 1 to 5
LogLevel = 3

## The numeric identifier for the Fishing skill. Only change this if you have a conflict with another custom skill using this ID
# Setting type: Int32
# Default value: 879
# Acceptable value range: From 200 to 900
FishingSkillID = 879

